In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [6]:
adult_data=pd.read_csv('adult.data',header=None)
adult_data.columns=["Age","Workclass","Final Weight","Education","Education Number","Marital Status","Occupation","Relationship","Race","Gender","Capital Gain","Capital Loss","Hours per Week","Native Country","Income Bracket"]
print(adult_data)

       Age          Workclass  Final Weight    Education  Education Number  \
0       39          State-gov         77516    Bachelors                13
1       50   Self-emp-not-inc         83311    Bachelors                13
2       38            Private        215646      HS-grad                 9
3       53            Private        234721         11th                 7
4       28            Private        338409    Bachelors                13
...    ...                ...           ...          ...               ...
32556   27            Private        257302   Assoc-acdm                12
32557   40            Private        154374      HS-grad                 9
32558   58            Private        151910      HS-grad                 9
32559   22            Private        201490      HS-grad                 9
32560   52       Self-emp-inc        287927      HS-grad                 9

            Marital Status          Occupation    Relationship    Race  \
0            Never-married        Adm-clerical   Not-in-family   White
1       Married-civ-spouse     Exec-managerial         Husband   White
2                 Divorced   Handlers-cleaners   Not-in-family   White
3       Married-civ-spouse   Handlers-cleaners         Husband   Black
4       Married-civ-spouse      Prof-specialty            Wife   Black
...                    ...                 ...             ...     ...
32556   Married-civ-spouse        Tech-support            Wife   White
32557   Married-civ-spouse   Machine-op-inspct         Husband   White
32558              Widowed        Adm-clerical       Unmarried   White
32559        Never-married        Adm-clerical       Own-child   White
32560   Married-civ-spouse     Exec-managerial            Wife   White

        Gender  Capital Gain  Capital Loss  Hours per Week  Native Country  \
0         Male          2174             0              40   United-States
1         Male             0             0              13   United-States
2         Male             0             0              40   United-States
3         Male             0             0              40   United-States
4       Female             0             0              40            Cuba
...        ...           ...           ...             ...             ...
32556   Female             0             0              38   United-States
32557     Male             0             0              40   United-States
32558   Female             0             0              40   United-States
32559     Male             0             0              20   United-States
32560   Female         15024             0              40   United-States

      Income Bracket
0              <=50K
1              <=50K
2              <=50K
3              <=50K
4              <=50K
...              ...
32556          <=50K
32557           >50K
32558          <=50K
32559          <=50K
32560           >50K

[32561 rows x 15 columns]

In [7]:
adult_test=pd.read_csv('adult.test',header=None)
adult_test.columns=["Age","Workclass","Final Weight","Education","Education Number","Marital Status","Occupation","Relationship","Race","Gender","Capital Gain","Capital Loss","Hours per Week","Native Country","Income Bracket"]
print(adult_test)

       Age      Workclass  Final Weight      Education  Education Number  \
0       25        Private        226802           11th                 7
1       38        Private         89814        HS-grad                 9
2       28      Local-gov        336951     Assoc-acdm                12
3       44        Private        160323   Some-college                10
4       18              ?        103497   Some-college                10
...    ...            ...           ...            ...               ...
16276   39        Private        215419      Bachelors                13
16277   64              ?        321403        HS-grad                 9
16278   38        Private        374983      Bachelors                13
16279   44        Private         83891      Bachelors                13
16280   35   Self-emp-inc        182148      Bachelors                13

            Marital Status          Occupation     Relationship  \
0            Never-married   Machine-op-inspct        Own-child
1       Married-civ-spouse     Farming-fishing          Husband
2       Married-civ-spouse     Protective-serv          Husband
3       Married-civ-spouse   Machine-op-inspct          Husband
4            Never-married                   ?        Own-child
...                    ...                 ...              ...
16276             Divorced      Prof-specialty    Not-in-family
16277              Widowed                   ?   Other-relative
16278   Married-civ-spouse      Prof-specialty          Husband
16279             Divorced        Adm-clerical        Own-child
16280   Married-civ-spouse     Exec-managerial          Husband

                      Race   Gender  Capital Gain  Capital Loss  \
0                    Black     Male             0             0
1                    White     Male             0             0
2                    White     Male             0             0
3                    Black     Male          7688             0
4                    White   Female             0             0
...                    ...      ...           ...           ...
16276                White   Female             0             0
16277                Black     Male             0             0
16278                White     Male             0             0
16279   Asian-Pac-Islander     Male          5455             0
16280                White     Male             0             0

       Hours per Week  Native Country Income Bracket
0                  40   United-States         <=50K.
1                  50   United-States         <=50K.
2                  40   United-States          >50K.
3                  40   United-States          >50K.
4                  30   United-States         <=50K.
...               ...             ...            ...
16276              36   United-States         <=50K.
16277              40   United-States         <=50K.
16278              50   United-States         <=50K.
16279              40   United-States         <=50K.
16280              60   United-States          >50K.

[16281 rows x 15 columns]

In [20]:
y_train = adult_data.iloc[:, -1].str.strip().replace({'>50K': 1, '<=50K': 0}).to_frame()
print(y_train)

       Income Bracket
0                   0
1                   0
2                   0
3                   0
4                   0
...               ...
32556               0
32557               1
32558               0
32559               0
32560               1

[32561 rows x 1 columns]

In [21]:
y_test = adult_test.iloc[:, -1].str.strip().replace({'>50K.': 1, '<=50K.': 0}).to_frame()
print(y_test)

       Income Bracket
0                   0
1                   0
2                   1
3                   1
4                   0
...               ...
16276               0
16277               0
16278               0
16279               0
16280               1

[16281 rows x 1 columns]

In [23]:
x_train=adult_data.iloc[:, :-1] 
print(x_train)

       Age          Workclass  Final Weight    Education  Education Number  \
0       39          State-gov         77516    Bachelors                13
1       50   Self-emp-not-inc         83311    Bachelors                13
2       38            Private        215646      HS-grad                 9
3       53            Private        234721         11th                 7
4       28            Private        338409    Bachelors                13
...    ...                ...           ...          ...               ...
32556   27            Private        257302   Assoc-acdm                12
32557   40            Private        154374      HS-grad                 9
32558   58            Private        151910      HS-grad                 9
32559   22            Private        201490      HS-grad                 9
32560   52       Self-emp-inc        287927      HS-grad                 9

            Marital Status          Occupation    Relationship    Race  \
0            Never-married        Adm-clerical   Not-in-family   White
1       Married-civ-spouse     Exec-managerial         Husband   White
2                 Divorced   Handlers-cleaners   Not-in-family   White
3       Married-civ-spouse   Handlers-cleaners         Husband   Black
4       Married-civ-spouse      Prof-specialty            Wife   Black
...                    ...                 ...             ...     ...
32556   Married-civ-spouse        Tech-support            Wife   White
32557   Married-civ-spouse   Machine-op-inspct         Husband   White
32558              Widowed        Adm-clerical       Unmarried   White
32559        Never-married        Adm-clerical       Own-child   White
32560   Married-civ-spouse     Exec-managerial            Wife   White

        Gender  Capital Gain  Capital Loss  Hours per Week  Native Country
0         Male          2174             0              40   United-States
1         Male             0             0              13   United-States
2         Male             0             0              40   United-States
3         Male             0             0              40   United-States
4       Female             0             0              40            Cuba
...        ...           ...           ...             ...             ...
32556   Female             0             0              38   United-States
32557     Male             0             0              40   United-States
32558   Female             0             0              40   United-States
32559     Male             0             0              20   United-States
32560   Female         15024             0              40   United-States

[32561 rows x 14 columns]

In [24]:
x_test=adult_test.iloc[:, :-1] 
print(x_test)

       Age      Workclass  Final Weight      Education  Education Number  \
0       25        Private        226802           11th                 7
1       38        Private         89814        HS-grad                 9
2       28      Local-gov        336951     Assoc-acdm                12
3       44        Private        160323   Some-college                10
4       18              ?        103497   Some-college                10
...    ...            ...           ...            ...               ...
16276   39        Private        215419      Bachelors                13
16277   64              ?        321403        HS-grad                 9
16278   38        Private        374983      Bachelors                13
16279   44        Private         83891      Bachelors                13
16280   35   Self-emp-inc        182148      Bachelors                13

            Marital Status          Occupation     Relationship  \
0            Never-married   Machine-op-inspct        Own-child
1       Married-civ-spouse     Farming-fishing          Husband
2       Married-civ-spouse     Protective-serv          Husband
3       Married-civ-spouse   Machine-op-inspct          Husband
4            Never-married                   ?        Own-child
...                    ...                 ...              ...
16276             Divorced      Prof-specialty    Not-in-family
16277              Widowed                   ?   Other-relative
16278   Married-civ-spouse      Prof-specialty          Husband
16279             Divorced        Adm-clerical        Own-child
16280   Married-civ-spouse     Exec-managerial          Husband

                      Race   Gender  Capital Gain  Capital Loss  \
0                    Black     Male             0             0
1                    White     Male             0             0
2                    White     Male             0             0
3                    Black     Male          7688             0
4                    White   Female             0             0
...                    ...      ...           ...           ...
16276                White   Female             0             0
16277                Black     Male             0             0
16278                White     Male             0             0
16279   Asian-Pac-Islander     Male          5455             0
16280                White     Male             0             0

       Hours per Week  Native Country
0                  40   United-States
1                  50   United-States
2                  40   United-States
3                  40   United-States
4                  30   United-States
...               ...             ...
16276              36   United-States
16277              40   United-States
16278              50   United-States
16279              40   United-States
16280              60   United-States

[16281 rows x 14 columns]

In [30]:
concat_df = pd.concat([x_train, x_test],axis=0,ignore_index=True)
print(concat_df)

       Age          Workclass  Final Weight   Education  Education Number  \
0       39          State-gov         77516   Bachelors                13
1       50   Self-emp-not-inc         83311   Bachelors                13
2       38            Private        215646     HS-grad                 9
3       53            Private        234721        11th                 7
4       28            Private        338409   Bachelors                13
...    ...                ...           ...         ...               ...
48837   39            Private        215419   Bachelors                13
48838   64                  ?        321403     HS-grad                 9
48839   38            Private        374983   Bachelors                13
48840   44            Private         83891   Bachelors                13
48841   35       Self-emp-inc        182148   Bachelors                13

            Marital Status          Occupation     Relationship  \
0            Never-married        Adm-clerical    Not-in-family
1       Married-civ-spouse     Exec-managerial          Husband
2                 Divorced   Handlers-cleaners    Not-in-family
3       Married-civ-spouse   Handlers-cleaners          Husband
4       Married-civ-spouse      Prof-specialty             Wife
...                    ...                 ...              ...
48837             Divorced      Prof-specialty    Not-in-family
48838              Widowed                   ?   Other-relative
48839   Married-civ-spouse      Prof-specialty          Husband
48840             Divorced        Adm-clerical        Own-child
48841   Married-civ-spouse     Exec-managerial          Husband

                      Race   Gender  Capital Gain  Capital Loss  \
0                    White     Male          2174             0
1                    White     Male             0             0
2                    White     Male             0             0
3                    Black     Male             0             0
4                    Black   Female             0             0
...                    ...      ...           ...           ...
48837                White   Female             0             0
48838                Black     Male             0             0
48839                White     Male             0             0
48840   Asian-Pac-Islander     Male          5455             0
48841                White     Male             0             0

       Hours per Week  Native Country
0                  40   United-States
1                  13   United-States
2                  40   United-States
3                  40   United-States
4                  40            Cuba
...               ...             ...
48837              36   United-States
48838              40   United-States
48839              50   United-States
48840              40   United-States
48841              60   United-States

[48842 rows x 14 columns]

In [31]:
categorical_columns=concat_df.select_dtypes(exclude=[np.number]).columns
numerical_columns=concat_df.select_dtypes(include=[np.number]).columns
encoder = OneHotEncoder(drop='first', sparse=False)
encoded_data = encoder.fit_transform(concat_df[categorical_columns])
encoded_df = pd.DataFrame(encoded_data)
data_encoded = pd.concat([concat_df[numerical_columns], encoded_df],axis=1)
print(data_encoded)

C:\Users\youssef\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

       Age  Final Weight  Education Number  Capital Gain  Capital Loss  \
0       39         77516                13          2174             0
1       50         83311                13             0             0
2       38        215646                 9             0             0
3       53        234721                 7             0             0
4       28        338409                13             0             0
...    ...           ...               ...           ...           ...
48837   39        215419                13             0             0
48838   64        321403                 9             0             0
48839   38        374983                13             0             0
48840   44         83891                13          5455             0
48841   35        182148                13             0             0

       Hours per Week    0    1    2    3  ...   84   85   86   87   88   89  \
0                  40  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
1                  13  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
2                  40  0.0  0.0  0.0  1.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
3                  40  0.0  0.0  0.0  1.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
4                  40  0.0  0.0  0.0  1.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
...               ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
48837              36  0.0  0.0  0.0  1.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
48838              40  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
48839              50  0.0  0.0  0.0  1.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
48840              40  0.0  0.0  0.0  1.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
48841              60  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0

        90   91   92   93
0      0.0  1.0  0.0  0.0
1      0.0  1.0  0.0  0.0
2      0.0  1.0  0.0  0.0
3      0.0  1.0  0.0  0.0
4      0.0  0.0  0.0  0.0
...    ...  ...  ...  ...
48837  0.0  1.0  0.0  0.0
48838  0.0  1.0  0.0  0.0
48839  0.0  1.0  0.0  0.0
48840  0.0  1.0  0.0  0.0
48841  0.0  1.0  0.0  0.0

[48842 rows x 100 columns]

In [33]:
x_train = data_encoded.iloc[:32561]
x_train.columns = x_train.columns.astype(str)
print(x_train)

       Age  Final Weight  Education Number  Capital Gain  Capital Loss  \
0       39         77516                13          2174             0
1       50         83311                13             0             0
2       38        215646                 9             0             0
3       53        234721                 7             0             0
4       28        338409                13             0             0
...    ...           ...               ...           ...           ...
32556   27        257302                12             0             0
32557   40        154374                 9             0             0
32558   58        151910                 9             0             0
32559   22        201490                 9             0             0
32560   52        287927                 9         15024             0

       Hours per Week    0    1    2    3  ...   84   85   86   87   88   89  \
0                  40  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
1                  13  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
2                  40  0.0  0.0  0.0  1.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
3                  40  0.0  0.0  0.0  1.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
4                  40  0.0  0.0  0.0  1.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
...               ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
32556              38  0.0  0.0  0.0  1.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
32557              40  0.0  0.0  0.0  1.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
32558              40  0.0  0.0  0.0  1.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
32559              20  0.0  0.0  0.0  1.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
32560              40  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0

        90   91   92   93
0      0.0  1.0  0.0  0.0
1      0.0  1.0  0.0  0.0
2      0.0  1.0  0.0  0.0
3      0.0  1.0  0.0  0.0
4      0.0  0.0  0.0  0.0
...    ...  ...  ...  ...
32556  0.0  1.0  0.0  0.0
32557  0.0  1.0  0.0  0.0
32558  0.0  1.0  0.0  0.0
32559  0.0  1.0  0.0  0.0
32560  0.0  1.0  0.0  0.0

[32561 rows x 100 columns]

In [41]:
x_test = data_encoded.iloc[32561:]
x_test.columns = x_test.columns.astype(str)
print(x_test)

       Age  Final Weight  Education Number  Capital Gain  Capital Loss  \
32561   25        226802                 7             0             0
32562   38         89814                 9             0             0
32563   28        336951                12             0             0
32564   44        160323                10          7688             0
32565   18        103497                10             0             0
...    ...           ...               ...           ...           ...
48837   39        215419                13             0             0
48838   64        321403                 9             0             0
48839   38        374983                13             0             0
48840   44         83891                13          5455             0
48841   35        182148                13             0             0

       Hours per Week    0    1    2    3  ...   84   85   86   87   88   89  \
32561              40  0.0  0.0  0.0  1.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
32562              50  0.0  0.0  0.0  1.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
32563              40  0.0  1.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
32564              40  0.0  0.0  0.0  1.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
32565              30  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
...               ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
48837              36  0.0  0.0  0.0  1.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
48838              40  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
48839              50  0.0  0.0  0.0  1.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
48840              40  0.0  0.0  0.0  1.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
48841              60  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0

        90   91   92   93
32561  0.0  1.0  0.0  0.0
32562  0.0  1.0  0.0  0.0
32563  0.0  1.0  0.0  0.0
32564  0.0  1.0  0.0  0.0
32565  0.0  1.0  0.0  0.0
...    ...  ...  ...  ...
48837  0.0  1.0  0.0  0.0
48838  0.0  1.0  0.0  0.0
48839  0.0  1.0  0.0  0.0
48840  0.0  1.0  0.0  0.0
48841  0.0  1.0  0.0  0.0

[16281 rows x 100 columns]

In [49]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
print(model.fit(x_train,y_train))
print(model.score(x_test,y_test))
y_predict=model.predict(x_test)
print(y_predict)
print(model.predict_proba(x_test))

C:\Users\youssef\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()
0.7957127940544193
[0 0 0 ... 0 1 0]
[[9.97412227e-01 2.58777336e-03]
 [9.84756080e-01 1.52439199e-02]
 [9.93541986e-01 6.45801379e-03]
 ...
 [9.78079367e-01 2.19206332e-02]
 [1.21026493e-05 9.99987897e-01]
 [9.71722872e-01 2.82771280e-02]]

In [51]:
from sklearn.metrics import confusion_matrix
TN, FP,FN,TP= confusion_matrix(y_test,y_predict).ravel()
sensitivity = TP / (TP + FN)
specificity = TN / (TN + FP)

print("Sensitivity :", sensitivity)
print("Specificity :", specificity)

Sensitivity : 0.3049921996879875
Specificity : 0.9474869320466426